body {
  padding: 1rem;
  background-color: #181818;
  font-family: "Noto Sans JP";
}
input {
  height: 2.8rem;
  width: 100%;
  padding: 0.6rem 0.85rem;
  background-color: #191919;
  border: 1px solid #3a3a3a;
  border-radius: 0.6rem;
  font-size: 100%;
  color: #aaa;
}
input:focus {
  outline: none;
}

.section {
  margin-top: 1rem;
}

.subtitle {
  margin-left: 0.5rem;
  margin-bottom: 0.25rem;
  color: #777;
}

.similar {
  min-height: 3rem;
  padding: 0.6rem 0.85rem;
  border: 1px solid #3a3a3a;
  border-radius: 0.6rem;
  font-size: 2rem;
  color: #bbb;
  word-wrap: break-word;
}

.external {
  padding: 0.6rem 0.85rem;
}

.external-icon {
  height: 64px;
  background-color: white;
}
